
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                Transactions
            </h2>
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor="let transaction of transactions">
                        <td><p>{{transaction.transactionDescription}}</p>
                        </td>
                        <td *ngIf="transaction.transactionAmount > 0">
                            <p style="color:green">{{transaction.transactionAmount| currency:currencyCode:'code'}}</p>
                            <p>{{transaction.transactionDate}}</p>
                        </td>
                        <td *ngIf="transaction.transactionAmount < 0">
                            <p style="color:red">{{transaction.transactionAmount| currency:currencyCode:'code'}}</p>
                            <p>{{transaction.transactionDate}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
</div>
