
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                transactions
            </h2>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        adsdsadadaass
                    </tr>
                    <tr>
                        dadsdasdasd
                    </tr>
                    <tr>
                        dasdasdasdas
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
</div>
