
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                Accounts
            </h2>
            <table class="table table-hover">
                <thead>
                    <th>Account Name</th>
                    <th>Account Amount</th>
                </thead>
                <tbody>
                  <tr *ngFor="let account of accounts">
                      <td>{{account.accountName}}</td>
                      <td>{{account.accountAmount | currency:currencyCode:'code'}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>    
</div>
